
<div id="elgrancontenedor">
<div class="container-slider">
    
<div class="slider" id="slider">
    
<div class="slider__section">
    <img src="/multimedia/Images/slider4.jpg" alt="" class="slider__img">
</div>
<div class="slider__section">
    <img src="./multimedia/images/slider2.jpg" alt="" class="slider__img">
</div>
<div class="slider__section">
    <img src="./multimedia/images/slider3.jpg" alt="" class="slider__img">
</div>
<div class="slider__section">
    <img src="./multimedia/images/yes.jpg" alt="" class="slider__img">
</div>
</div>
<div class="slider__btn slider__btn--right" id="btn-right">&#62;</div>
<div class="slider__btn slider__btn--left" id="btn-left">&#60;</div>
</div>
<script src="./scripts/slider.js"></script>
</div>
<br>
<div class="elaudio">
<audio src = "./multimedia/audio/BTSVInner Child.mp3" controls></audio>
</div>
            <a name="au"> </a>

<section class="aboutus" > 
       <section id="parrafo"> <h1>ABOUT US</h1><br><br>
    <p>DCREATE, is a web design page aimed at all public with professionals with extensive experience and knowledge, dedicated to maximum effort in make creativity and ideas a captivating and effective business tool, working on the principles of perfection, communication and innovation with a clear and concise objective: You ask for it, we create it. Also We provide such a quality work with great  dedication.</p>
</section>
    <img src="./multimedia/images/imagen2.jpg" class="imagen2" alt=""> 
</section>

<a name="mvv"></a>
<div id="contenedor-ok">
<div id="cajauno">
    <h1 id="mvv" >MISSION</h1><br>
    <p >Offer our products and services
             to our customers, designs
             on request accessible.</p>
</div><br>
<div id="cajados">
    <h1 id="mvv">VISION</h1><br>
    <p>Get to be recognized 
    for our good designs 
    and have a global reach.</p>
</div><br>
<div id="cajatres">
    <h1 id="mvv">VALUES</h1><br>
    <p>Responsibility, 
            Honesty, 
            Quality, 
            Punctuality and Passion.</p>
</div><br>
</div>
<script src="./scripts/home.js"></script>