
    <div class="form">
            <div id="form2">
<h1 id="ok1">CONTACT FORM</h1>
</div>
        <br>
    
             <form action="" method="GET" enctype="application/
             x-www=form-urlencoded" name="ejemplo"> 
             
             <label for="username">Names:</label>
             <input  type="text" name="usuarios" id="username" value="" 
             placeholder="Enter." required>
    
             <br><br>
    
             <label for="mail">Email:</label>
             <input type="email" name="mail" id="mail" placeholder="Enter.">
    
             <br><br>
    
             <label>Phone Number:
                 <input type="password" name="password" id="password" required placeholder="Enter.">
             </label>
    
             </form>
            
    <br><br>
    
    <input type="reset" id="clean1" value="Clean">
    
    <input type="submit" id="send1" value="Send">
</div>
            