<div id="services">
<h1>SERVICES</h1>
</div>
<div id="contenedorservices">
        <div id="cuno">
            <img src="/multimedia/images/imagen3.jpg" id="servicesimg1" alt="">
            <h1>Logos</h1>
            <p>Graphically capture the values, 
                    objectives and characteristics of 
                     a company or entity, and that a 
                    symbol, image or typography 
                   through the company remains in 
                     the memory and memory of a 
                     potential client before its 
                    competition.</p>
        </div><br>
        <div id="cdos">
            <img src="/multimedia/images/imagen4.jpg" id="servicesimg2" alt="">
            <h1>Web Design</h1>
            <p>They fulfill the task of providing
                   information of any kind and in 
                    whatever style or degree of 
                    formality,it has a greater scope 
                    and is a web page designed  to be 
                     seen anywhere in the world where 
                     the Internet exists.</p>
        </div><br>
        <div id="ctres">
            <img src="/multimedia/images/imagen5.jpg" id="servicesimg3"alt="">
            <h1>Merchandise Design</h1>
            <p>Having a branded merchandise
                    design for your clothing store can 
                     instill a personal  touch with your 
                    customer and also serve as a means 
                     of marketing. Clothing from your 
                     representative store should have a 
                    professional look that you can 
                     easily obtain from DCREATE.</p>
        </div><br>
        </div>