<section class="footel" >
    <a href="https://www.facebook.com/dianaandujarg/" Target="_blank"><img src="/multimedia/Images/fbpng.png" class="iconofb"  ></a>
    <a href="https://www.instagram.com/dianaandujar_/" Target="_blank"><img src="/multimedia/Images/igpng.png" class="iconoig" ></a>
    <a href="https://twitter.com/dianaandujarg" Target="_blank"> <img src="/multimedia/Images/twtpng.png"  class="iconotwt"></a>
    <a href="https://www.youtube.com/channel/UCnZRt75whgszuMbrDqJ-TZQ/featured" Target="_blank"><img src="/multimedia/Images/ytpng.png" class="iconoyt"></a>
    <br>

<p href= >© 2021 by Diana Andújar 
<a href="https://www.ensingerplastics.com/es-es/avisos-legales" Target="_blank" alt="" >Legal Notices</a>
<a href="http://cookies.unidadeditorial.es/"  Target="_blank" alt="" >Cookies Policy</a>
</p>
<script src="./scripts/home.js"></script>
</section>

