<input type="checkbox" id="btn-menu">
    <label for="btn-menu"> <img src="/multimedia/Images/icmenu.png" id= "imagen"alt=""> </label>
    <div id="logo">
    <a href="/"><img src="/multimedia/Images/milogo.png"  alt=""></a>
</div>
<nav class="menu">
    <ul>
        <li><a href="/">Home</a></li>
        <li class="dropdown">
                <a href="/#au" class="drop-b">About Us</a>
                <div class="dropdown-content">
                    <a href="/#mvv">Mission, Vision and Values</a>
        <li class="dropdown">
                <a href="/services" class="drop-b">Services</a>
                <div class="dropdown-content">
                    <a href="/videos">Our Tutorials</a>
            </li>
        <li><a href="/orderNow" Target="_blank" >Order Now</a></li>
        <li class="dropdown">
                <a href="/contact" class="drop-b">Contact</a>
                <div class="dropdown-content">
                    <a href="/contactform">Contact Form</a>
            </li>
    </ul>
</nav>

<div class="progress-container">
        <div class="progress-bar" id="myBar"></div>
      </div>

      <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>